html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
main,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-image: url(./img/fundo-site.svg);
    background-size: cover;
    background-position: center;
    background-color: #FFFFFF;
}

ol,
ul {
    list-style: none;
    /* Resetando espaçamento interno e externo do Bootstrap */
    padding-left: 0rem !important;
    margin-bottom: 0rem !important;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    margin-bottom: 0 !important;
}

main {
    overflow-x: hidden
}

/* Inicio Personalizações repetitivas */
.subtitulos-personalizados {
    font-size: 50px;
    font-style: oblique;
    font-family: serif;
    text-align: center;
    margin-bottom: 40px;
}

/* Final Personalizações repetitivas */


/* Inicio Box primeira Aba */

.primeiro-box {
    background-image: url(./img/Fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1A1A1A;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.primeiro-box__titulo h1 {
    font-size: 10rem;
    font-family: serif;
}

.primeiro-box__titulo p {
    padding-top: 1rem;
    font-size: 38px;
    font-style: italic;
    font-family: serif;
}

@media screen and (max-width: 1199px) {
    .primeiro-box__titulo h1 {
        font-size: 08rem;
    }
}

@media screen and (max-width: 991px) {
    .primeiro-box__titulo h1 {
        font-size: 06rem;
    }
}

@media screen and (max-width: 621px) {
    .primeiro-box__titulo h1 {
        font-size: 4.5rem;
    }

    @media screen and (max-width: 471px) {
        .primeiro-box__titulo h1 {
            font-size: 4rem;
        }
    }

    @media screen and (max-width: 422px) {
        .primeiro-box__titulo h1 {
            font-size: 3.5rem;
        }
    }

    @media screen and (max-width: 375px) {
        .primeiro-box__titulo h1 {
            font-size: 2.9rem;
        }
    }
}

/*Final Box primeira Aba */

/*Inicio Box Noivos */

.box-noivos {
    padding: 140px 0 70px 0;
    text-align: center;

}

.box-noivos__conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.box-noivos__img img {
    height: 600px;
}

.box-noivos__texto {
    height: 600px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 10px;
    text-align: left;
    background: #3C0300;
    color: #FFFFFF;

}

.box-noivos__texto p {
    padding: 15px;
}

/* Responsividade */
@media screen and (max-width: 1400px) {
    .box-noivos__texto {
        line-height: 1.9rem;
    }
}

@media screen and (max-width: 1200px) {
    .box-noivos__conteudo {
        flex-direction: column;
    }

    .box-noivos__img img {
        width: 100%;
        height: auto;
    }

    .box-noivos__texto {
        height: auto;
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
}

/*Final Box Noivos */


/* Inicio Box Prévia */
.box-previa {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./img/previa.svg), #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1A1A1A;
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

/* Final Box Prévia */

/* Inicio Box Confirmação de presença */

.box-confirmacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    /* background-color: #F6F6F6;   */
    color: black;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.box-confirmacao__titulo h5 {
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

.box-confirmacao__formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    color: #FFFFFF;
    background-color: #3C0300;
    border-radius: 10px;
}

.box-confirmacao__formulario label {
    font-size: 20px;
    padding-top: 30px;
}

.box-confirmacao__formulario button {
    margin: 30px 0;
    background-color: #008A34;
    border-style: none;
}

/* Final Box Confirmação de presença */






/* Inicio Box Lista de presentes */

.box-lista {
    padding: 70px 0;
}

.box-lista__cards {
    justify-content: space-between;
}

.box-lista__card-personalizado {
    background: #E9E9E9 !important;
    padding: 15px !important;
    border-style: none !important;
    width: 22rem !important;
}

.card-personalizado__conteudo {
    margin-top: 10px !important;
}

.card-personalizado__conteudo h5 {
    font-size: 25px !important;
}

.card-personalizado__conteudo a {
    margin-top: 20px;
    border-style: none;
    background-color: #59807A;
    font-size: 20px;
}

/* Final Box Lista de presentes */

/* Inicio Box Local do casamento */

.gambiarra {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.box-local {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 0;
}

.box-local__cerimonia {
    background-color: #3C0300;
    color: #FFFFFF;

}

.cerimonia__titulo {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: serif;
}

.box-local__dados {
    display: flex;
    flex-direction: row;
}

.box_qrcode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box_qrcode img {
    padding: 0 20px 20px 0;
}

iframe {
    width: 100%;
    height: 100%;
}

.box-local__cerimonia p {
    padding: 20px;
    text-align: left;
    font-size: 20px;
}

/* Responsividade Box Local do casamento */


@media screen and (max-width: 992px) {
    .box-local__dados {
        flex-direction: column;
    }

    iframe {
        height: 30vh;
    }
}

/* Final Box Local do casamento */



/* Footer */
footer {
    height: 3vh;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
}